@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
//   height: calc(100vh - 134px);
// }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider-trigger {
  bottom: 67px;
}

.ant-layout-footer {
  padding: 0;
}
// .ant-layout-content {
//   // height: auto;
//   min-height: 0 !important
// }

.ant-layout-sider-children {
  position: fixed;
  width: inherit;
}

.ant-menu.ant-menu-dark .ant-menu-sub {
  // color: rgba(255, 255, 255, 0.65);
  // background: #001529;
  height: inherit !important;
}