@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-sider-trigger {
  bottom: 67px;
}

.ant-layout-sider-children {
  position: fixed;
  width: inherit;
  padding-top: 40px;
}

.ant-menu.ant-menu-dark .ant-menu-sub {
  height: inherit !important;
}
